<div class="container">
    <h2>Our Story</h2>
    <p>
        Nayers Foundation was created in 2016 August by Rebecca Nayere in Nairobi,Kenya. There are plenty of children who
        find
        themselves in the unfortunate circumstances of not having people to love, provide, and take care of them. Some of
        these
        children are orphaned and get mistreated by their guardians and most of them end up living on the streets because
        they’re rendered homeless. Some simply become burdens on their parents or guardians who are too poor to look after
        them
        so they are forced to strike out on their own. Whatever these circumstances are, these children are in need of love
        and
        care. We tend to reach out to the needy children in an attempt to help them have a better life iand access better
        education and also have the basic needs as other children.
    </p>
</div>