<!-- <footer class="bg-dark text-light text-center text-lg-start">
    <div class="container p-4">
       
        <div class="row">
            
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>

                <p>
                    For any further inquiries contact us using the contacts listed
                </p>
            </div>

  
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacts</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <p class="text-light">nayerscare@gmail.com</p>
                    </li>
                    <li>
                        <p class="text-light">+254 705877662</p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Location</h5>

                <ul class="list-unstyled">
                    <li>
                        <p href="#!" class="text-light">PO BOX 28472-00100,</p>
                        <p href="#!" class="text-light">Nairobi </p>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="text-center bg-dark text-light p-3">
        © 2020 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">Nayer's Care</a>
    </div>
  
</footer> -->

<footer class="footer-top-area">

    <div>
      <div class="container pt-3">
        <div class="row">
          <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-12 mb-40-2  mb-40-3">
  
            <div class="single-footer mb-3">
              <!-- footer-logo-start -->
              <!-- footer-logo-end -->
              <!-- footer-content -->
              <div class="footer-content">
                <h3>Our Mission</h3>
                <p>To alleviate suffering, poverty and oppression by helping people build secure, productive and just communities..</p>
                <div class="footer-social">
                  <h3>Follow Us</h3>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
              <!-- footer-content -->
            </div>
  
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-40-2  mb-40-3">
            <!-- single-footer-start -->
            <div class="single-footer mb-3">
              <!-- footer-title-start -->
              <div class="footer-title">
                <h3>Contact Nayer's Care</h3>
              </div>
              <!-- footer-title-end -->
              <!-- footer-content-start -->
              <div class="footer-content-2">
                <p href="#!" >PO BOX 28472-00100, Nairobi <br><br></p>
                <div class="footer-social">
                    <h3>Email & Phone</h3>
                    <ul>
                      <li><a href="">nayerscare@gmail.com</a></li>
                      <li><a href="">+254 705877662</a></li>
                    </ul>
                  </div>
              </div>
              <!-- footer-content-end -->
            </div>
            <!-- single-footer-end -->
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
            <!-- single-footer-start -->
            <!-- single-footer-end -->
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
            <!-- single-footer-start -->
            <div class="single-footer">
              <!-- footer-title-start -->
              <div class="footer-title">
                <h5>Services</h5>
              </div>
              <!-- footer-title-end -->
              <!-- footer-top-menu-start -->
              <div class="footer-top-menu">
                <ul>
                  <li><a href="index-4.html#">Contact Us</a></li>
                  <li><a href="index-4.html#">Why we exist</a></li>
                  <li><a href="index-4.html#">Gallery</a></li>
                  <li><a href="index-4.html#">Projets</a></li>
  
                </ul>
              </div>
              <!-- footer-top-menu-end -->
            </div>
            <!-- single-footer-end -->
          </div>
        </div>
      </div>
    </div>

    <hr class="mb-4">
    <!-- footer-top-area-end -->
    <div class="footer-area ptb-40">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <!-- copy-right-area-start -->
            <div class="copy-right-area mb-3 text-center">
              <p>Copyright © 2021 <a class="user" href="index.html#">Nayer's Care</a> . All Rights Reserved</p>
            </div>
            <!-- copy-right-area-end -->
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          </div>
        </div>
      </div>
    </div>
  
  </footer>
  