<div class="container">
    <h2>FUTURE WORK</h2>
    
    <p>
    
        Provide emergency response to disaster in different individuals and families.
        Help the needy children access better education in order to improve the life chances of children from marginalized
        groups by expanding access improving quality and boosting student outcomes.
        Fighting hunger and poverty, this will ensure that children are healthy and strong.
        Provide health and medical services by offering voluntary counselling and testing services to the community
        especially
        the children affected. This includes child and maternal mortality; life expectancy; access to safe drinking water,
        deaths from preventable or curable illnesses, prevalence of malnutrition and tropical diseases.
        Provide sustainable water for the children and the community at large thus putting a stop to children drinking water
        contaminated by dirt, sewage and even salt water.
    
    </p>

</div>

