<div class="container">

    <h2>Core Values</h2>
    <p>Care,commitment,respect for life and children rights.
    </p>

    <h2>Our Vission</h2>
    <p>To see that every child is able to access education and better their lives with that of the society at large.
    </p>


    <h2>Our mission</h2>
    <p>To alleviate suffering, poverty and oppression by helping people build secure,
        productive and just communities.
    </p>

    <h2 id="ourTeam">Our team</h2>
    <p>We pride ourselves on having a diverse and committed team made up of ……………... members across Kenya where we
        serve. Many
        of these team members have first-hand experience in the field, and all of them share a steadfast belief that
        communities
        are the best agents of their own change.
        Meet a few field team members
        (names of team members with or minus pictures)
    </p>

    <h2>Ethics & Policies</h2>
    <p>
        Nayers Foundation is commitment to inclusion, diversity and safeguarding interest of needy children.
    </p>

    <h2>Our organisational culture</h2>
    <p>
        Nayers Foundation is committed to building a better world for needy children to grow in where each child is
        provided for
        treated with dignity and respect, free of harassment and accessing the opportunities needed for the Children
        to
        grow
        into thriving adults.
        Nayers Foundation has a special obligation to ensure the safety and dignity of all children it comes into
        contact with
        through its work. This policy reinforces our commitment to the best interests of children. This policy
        states
        our
        expectations regarding team member conduct with children and what conduct is prohibited. It also states the
        process and
        procedures we will maintain to ensure that team members uphold its standards and how cases of misconduct are
        identified,
        reported, and addressed in an appropriate and timely manner.

    </p>
    <h2>Financials</h2>
    <p>
        We carry out charitable activities and complement government efforts towards service delivery to the children
        and
        citizens at large.

        We believe that it is our duty to use the financial resources entrusted to us effectively. We monitor and
        evaluate the
        efficiency and effectiveness of our programmes with a dedicated staff of specialists and conduct regular
        internal and
        external financial audits.
    </p>

    <h2>Our Objectives</h2>
    <p>
        The main objective states in broad terms the purpose for which the organisation is formed.The main objective has
        been
        stated thus:
    </p>
    <ol>
        <li>
            To see all children and young persons leading a happy and fullfilling life.
        </li>
        <li>
            To promote and secure the rights of children and young persons in order for then to realise their dreams.
        </li>
        <li>
            To establish education fund mechanism to facilitate the intellectual capacity,equiping the society with the
            relevant knowledge.
        </li>
        <li>
            To protect and promote the best interests and welfare of children and young persons and enable them to
            overcome
            social
            problems through economic development of individuals,families and communities
        </li>
        <li>
            To advocate for and influence the public understanding of children basic and human rights and for the
            government
            budgetary allocation for children especiallyfor those in need of alternative family care eg Orphans.

        </li>
    </ol>


</div>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" routerLink="/gallery">Who We Are</a>
    <a class="dropdown-item" routerLink="/gallery">Volunteer</a>
    <a class="dropdown-item" routerLink="/our-leadership">Our Leadership</a>
    <a class="dropdown-item" routerLink="/our-patnership">Our Patnership</a>
    <a class="dropdown-item" routerLink="/our-suppliers">Our Suppliers</a>
    <a class="dropdown-item" routerLink="/contact-us">Contact Us</a>
</div>