<div class="container">
    <h2>PREVIOUS WORKS</h2>
    <p>
        We were able to reach out to needy children where we provided them with stationeries like exercise books and
        pens.
        We also got the children some plastic shoes to help them stay hygienically stable for their health status.
        We were able to do the jigger campaign where several children were treated and also part of the community in an
        attempt
        to cub the spread of the jigger infection.
        We were able to motivate and talk to the children about their rights and also motivated them to work harder in
        their
        academics.
        We ensured their sanitation by providing the girls with sanitary towels.

        We open to any donations from other organisations, proprietary companies and anybody who can donate.

    </p>


    <h2>
        CURRENT WORK
    </h2>
    <p>
        Promoting children’s right.
        Protecting children in emergencies pull through the tragedy.
        Ensuring that children receive better health services and facilities.
        Advocating for fair and better environment for child education and living.
        Ensuring that children are able to survive during whichever pandemic or disaster that may come.
    </p>
    <h2>
        FUTURE WORK
    </h2>
    <p>
        Provide emergency response to disaster in different individuals and families.
        Help the needy children access better education in order to improve the life chances of children from
        marginalized
        groups by expanding access improving quality and boosting student outcomes.
        Fighting hunger and poverty, this will ensure that children are healthy and strong.
        Provide health and medical services by offering voluntary counselling and testing services to the community
        especially
        the children affected. This includes child and maternal mortality; life expectancy; access to safe drinking
        water,
        deaths from preventable or curable illnesses, prevalence of malnutrition and tropical diseases.
        Provide sustainable water for the children and the community at large thus putting a stop to children drinking
        water
        contaminated by dirt, sewage and even salt water.
    </p>



</div>