<div class="container">
    <h2>PREVIOUS WORKS</h2>
    <p>
        We were able to reach out to needy children where we provided them with stationeries like exercise books and
        pens.
        We also got the children some plastic shoes to help them stay hygienically stable for their health status.
        We were able to do the jigger campaign where several children were treated and also part of the community in an
        attempt
        to cub the spread of the jigger infection.
        We were able to motivate and talk to the children about their rights and also motivated them to work harder in
        their
        academics.
        We ensured their sanitation by providing the girls with sanitary towels.

        We open to any donations from other organisations, proprietary companies and anybody who can donate.

    </p>
</div>