@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&family=Roboto&display=swap');
/* nav area */
.header_area .main_menu .navbar .navbar-brand {
    padding: 0.2rem, 0.5rem;
  }
  .navbar-brand >img{
    height: 56px;
  }
  .header_area .main_menu .navbar {
    padding: 0.2rem 20rem;
  }
  .header_area .main_menu .nav-item .nav-link {
    /* font: normal 500 20px/2px 'Roboto', sans-serif; */
    text-transform: uppercase;
    /* padding: 1.4rem; */
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 1.4rem;
    color: #6b6b6b;
    font-weight: 500;
  }
  .header_area .main_menu .navbar-nav .active a {
    background: linear-gradient(90deg, #eeff00 0%, #ee0505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
  }
  
  .header_area .main_menu .navbar-nav :hover {
    background: linear-gradient(90deg, #eeff00 0%, #ee0505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .donate{
      margin-top: -6px;
  }
  .donate :hover{
    color: black;
}

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    z-index: 999;
    transition: background 500ms ease-in-out;
  }

  .arrow{
    color: white;
    font-weight: bolder;
    padding: 14px;
    background-color: black;
}
.site-banner{
    padding: 1rem 5rem; 
     
}
.desc{
    font-size: 1.6rem; 
    background: linear-gradient(90deg, #eeff00 0%, #ee0505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}
.nayer{
    font-family: 'eurofurence';
    font-size: 5rem;
    background: linear-gradient(90deg, #3c50fc 0%, #18027c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800; 
}




