<div class="carosel">


    <div class="carousel slide" id="slider" data-ride="carousel">
        <!--indicators-->
        <ol class="carousel-indicators">
            <li data-target="#slider" data-slide-to="0" class="active"></li>
            <li data-target="#slider" data-slide-to="1"></li>
            <li data-target="#slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/gallery/img7.jpg">
                <div class="carousel-caption">
                    <h4>Welcome</h4>
                    <p>Travel! Enjoy!</p>
                </div>
            </div>

            <div class="carousel-item" id="slide2">
                <img src="../../assets/gallery/img4.jpg">
                <div class="carousel-caption">
                    <h4>Welcome</h4>
                    <p>Travel! Enjoy!</p>
                </div>
            </div>

            <div class="carousel-item" id="slide3">
                <img src="../../assets/gallery/img5.jpg">
                <div class="carousel-caption">
                    <h4>Welcome</h4>
                    <p>Travel! Enjoy!</p>
                </div>
            </div>


        </div>
        <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>



<div class="know text-center">
    <h2>Get To Know Us</h2>
    <p class="about text-center">
    <p>Nayer's Care is an organisation facilitating education and serving living standards among needy children</p>

    <a class="btn" routerLink='/about-us'>Read more...</a>
</div>

<div class=" container text-center nextProject">
    <h2>Our Next Project</h2>
    <p>
        Our next project is visiting institutions and providing shoes Ngoma' for kids as we clean their legs preventing
        the jinger infestation and also get the sanitary towels for the girls.
    </p>
</div>