<section id="home" class="site-banner">
    <div class="container-fluid">
        <!-- <div class="carosel">
            <div class="carousel slide" id="slider" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider" data-slide-to="0" class="active"></li>
                    <li data-target="#slider" data-slide-to="1"></li>
                    <li data-target="#slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img class="style-mg" src="../../assets/BeFunky-photo.png">
                        <div class="carousel-caption">
                            <h4>Welcome</h4>
                            <p>Travel! Enjoy!</p>
                        </div>
                    </div>
        
                    <div class="carousel-item" id="slide2">
                        <img src="../../assets/gallery/img4.jpg">
                        <div class="carousel-caption">
                            <h4>Welcome</h4>
                            <p>Travel! Enjoy!</p>
                        </div>
                    </div>
        
                    <div class="carousel-item" id="slide3">
                        <img src="../../assets/gallery/img5.jpg">
                        <div class="carousel-caption">
                            <h4>Welcome</h4>
                            <p>Travel! Enjoy!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        
        </div> -->
    
        <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1"
  uk-slideshow="animation: push; min-height: 300; max-height: 700; pause-on-hover: true; autoplay: true">

  <ul class="uk-slideshow-items">
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
        <img src="../../assets/BeFunky-photo.png" alt="" uk-cover>
      </div>
      <div class="uk-position-center uk-position-small uk-text-center uk-light">
        <h2 class="wow fadeInLeft nayer" data-wow-delay=".3s">Nayer's Care</h2>
        <p class="wow fadeInLeft desc" data-wow-delay="1.3s">
            To alleviate suffering, poverty and oppression by helping <br>  people build secure, productive and just communities.
        </p>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
        <img src="../../assets/BeFunky-photo (1).png" alt="" uk-cover>
      </div>
      <div class="uk-position-center uk-position-small uk-text-center uk-light">
        <h2 class="wow fadeInLeft nayer" data-wow-delay=".3s"  >Nayer's Care.</h2>
        <p class="wow fadeInLeft desc" data-wow-delay="1.3s">
            To alleviate suffering, poverty and oppression by helping <br>  people build secure, productive and just communities.
        </p>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="../../assets/yeeee.png" alt="" uk-cover>
      </div>
      <div class="uk-position-center uk-position-small uk-text-center uk-light">
        <h2 class="wow fadeInLeft nayer" data-wow-delay=".5s">Nayer's Care.</h2>
        <p class="h6 wow fadeInLeft desc" data-wow-delay="1.3s">
            To alleviate suffering, poverty and oppression by helping <br>  people build secure, productive and just communities.
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="../../assets/bg.jpg" alt="" uk-cover>
      </div>
      <div class="uk-position-center uk-position-small uk-text-center uk-light">
        <h2 class="wow fadeInLeft nayer" data-wow-delay=".5s">Nayer's Care.</h2>
        <p class="h6 wow fadeInLeft desc" data-wow-delay="1.3s">
            To alleviate suffering, poverty and oppression by helping <br>  people build secure, productive and just communities.
      </div>
    </li>
  </ul>

  <div class="uk-light">
    <a class="uk-position-center-left uk-position-small uk-hidden-hover arrow" href="#" uk-slidenav-previous
      uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover arrow" href="#" uk-slidenav-next
      uk-slideshow-item="next"></a>
  </div>

  <div class="uk-position-bottom-center uk-position-small uk-light">
    <ul class="uk-dotnav">
        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
    </ul>
</div>

</div>
    </div>
</section>


<div class="know text-center">
    <h2>Get To Know Us</h2>
    <p class="about text-center">
    <p>Nayer's Care is an organisation facilitating education and serving living standards among needy children</p>

    <a class="btn" routerLink='/about-us'>Read more...</a>
</div>

<div class=" container text-center nextProject">
    <h2>Our Next Project</h2>
    <p>
        Our next project is visiting institutions and providing shoes Ngoma' for kids as we clean their legs preventing
        the jinger infestation and also get the sanitary towels for the girls.
    </p>
</div> 