.arrow{
    color: white;
    font-weight: 700;
}
.site-banner{
    padding: 1rem 5rem; 
     
}
.desc{
    font-size: 1.6rem; 
    background: linear-gradient(90deg, #eeff00 0%, #ee0505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}
.nayer{
    font-family: 'eurofurence';
    font-size: 4rem;
    background: linear-gradient(90deg,  #4458dc 0%, #6624eb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}