.form{
    margin-top: 5%;
    margin-bottom: 20%;
}
.donnate{
    padding-right: 0px;
    padding-left: 0px;
}
.card-header{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.card-header h2{
    font-size: 60px;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #eeff00 0%, #ee0505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}
.col-lg-3 .col-md-1 .col-sm-1{
    padding: 0;
}
.carded{
    padding: 0px;
}